@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero-container {
  color: v.$main;
  text-align: center;
  margin-top: 10rem;

  .title {
    font-size: 5rem;
  }

  .hero-img {
    img {
      width: 350px;
      height: 350px;
    }
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.double-arrows {
  position: absolute; /* Mantén las flechas en un lugar fijo en la pantalla */
  bottom: 2rem; /* Ajusta la distancia desde la parte inferior de la pantalla */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  text-align: center;
  animation: bounce 2s infinite; 
  &:hover{
    cursor: pointer;
  }

  .bi-chevron-double-down {
    color: v.$main;
    font-size: 5rem; /* Ajusta el tamaño de la flecha según sea necesario */
}
}


