@use 'base/variables' as v;
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  gap: 10rem;

  .left-container,
  .right-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .left-container {
    display: block;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 2.3rem;
    }
    
    h2 {
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.4rem;
    }

    .hello-world {
      display: flex;
      align-items: center;
      text-align: center;
      font-family: "Quicksand", sans-serif;

      .profile-pic {
        width: 5rem; // Ajusta el tamaño de la imagen de perfil
        margin-right: 1rem; // Espacio entre la imagen y el mensaje
      
        img {
          border-radius: 50%; // Hace que la imagen sea completamente redonda
          width: 100%; // Asegura que la imagen llene todo el contenedor
        }
      }

    }
  }

  .right-container {
    position: relative; // Necesario para posicionar los pseudo-elementos

    img {
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
      max-width: 100%;
      height: 25rem;
      
    }
    
  }

  .btns {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    .btn {
      border: 0.5vmin solid v.$negro;
      box-shadow: 0.4rem 0.4rem v.$negro;
      border-radius: 10px;
      padding: .5rem 1rem;
      font-size: 1.1rem;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: v.$main;
        color: v.$blanco;
        
      }
    }
    .contact-btn{
      background-color: v.$negro;
      color: v.$blanco;
      &:hover {
        background-color: v.$main;
        color: v.$blanco;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5rem;

    .left-container {
      margin-top: 5rem;
      h1 {
        text-align: center;
        font-size: 1.6rem;
        padding: 0;

        margin: 0;
      }
      h2{
        font-size: 1.2rem;
      }
    }
    .right-container {
      img {
        display: none;
      }

    }
  }
}

@media (max-width:480px) {
  .hero {
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;

    .left-container {
      margin-top: 5rem;
      h1 {
        text-align: center;
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
      }
      h2{
        font-size: .9rem;
      }
      .btns {
        justify-content: space-between;
      }
    }

    .right-container {
      img {
        width: 15rem;
        height: 15rem;
        gap: 0;
      }

    }
  }
}

