@use 'base/mixins' as m;
@use 'base/variables' as v;

.about-me{
    padding: 5rem 1rem;
    margin-top: 10rem;

    .container{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        
        .about-me-title{
            margin-bottom: 2rem;


            h2{
                font-size: 3rem;
                color: v.$main;            }
        }
        .about-me-text{
            font-size: 1.2rem;
            color: v.$blanco;
            text-align: justify;
            line-height: 1.7rem;
        }
        .btn{
            padding: .5rem 1.5rem;
            background-color: v.$main;
            color: v.$grisOscuro;
            border-radius: 100px;
            font-size: 1.2rem;
            float: left;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: darken(v.$main, 20%);
                cursor: pointer;
            }
        }
    }
}