@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: #1a1a1ada;
    padding: 20px 0;
    color: #fff;
    text-align: center;

    .social-icons {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 5rem;

            li {
                display: inline-block;

                a {
                    color: #fff;
                    font-size: 3rem;
                    transition: color 0.3s;

                    &:hover {
                        color: v.$main;
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;
        margin-top: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;

        .mail-me {
            flex: 1;
            text-align: left;

            span {
                display: block;
                margin-bottom: 5px;
                font-size: 16px;
            }

            input {
                width: 60%;
                padding: 8px;
                margin-right: 10px;
                border: none;
                border-radius: 4px;
            }

            button {
                padding: 8px 16px;
                border: none;
                background-color: v.$main;
                color: v.$grisOscuro;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken(v.$main, 20%);
                }

                i {
                    margin-left: 5px;
                }
            }
        }

        .center {
            flex: 1;
            text-align: center;

            a {
                font-size: 2rem;
                color: #fff;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: v.$main;;
                    cursor: pointer;
                }
            }
        }

        .projects {
            flex: 1;
            text-align: right;

            a {
                font-size: 2rem;
                color: #fff;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: v.$main;;
                    cursor: pointer;
                }
            }
        }
    }
}
