@use 'base/variables' as v;

header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: v.$negro; /* Puedes cambiar el color de fondo */
  color: v.$blanco;
  padding: 1rem; /* Puedes cambiar el padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Puedes cambiar la sombra */
  z-index: 1000; /* Para que quede encima de otros elementos */
  transition: top 0.3s ease; /* Transición suave cuando cambia la posición */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.6rem;
    font-weight: 800;
  }
  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .links li {
    margin-left: 20px; /* Puedes cambiar el margen izquierdo */
    font-size: 1.3rem;

  }
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: auto; /* Restablecer bottom para asegurarse de que no interfiera */
}
@media (max-width:768px) {
  header{
    .links li{
      font-size: 1.2rem;
    }
  }
}
