@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5rem;
    height: 40%;
    margin-right: 1rem;
    background-color: v.$grisOscuro;
    border-radius: 25px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;

    &.hidden {
        transform: translateY(-200%);
    }

    nav {
        width: 100%;
        height: 100%;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            li {
                display: block;
                font-size: 1.7rem;
                position: relative;

                a {
                    color: v.$main;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    text-align: center;

                    i {
                        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    }

                    &:hover .bi-envelope,
                    &:focus .bi-envelope {
                        color: #ff4343;
                    }

                    &:hover .bi-linkedin,
                    &:focus .bi-linkedin {
                        color: #0762C8;
                    }

                    &:hover .bi-github,
                    &:focus .bi-github {
                        color: v.$blanco;
                    }

                    &:hover .bi-instagram,
                    &:focus .bi-instagram {
                        color: #C13584;
                    }
                }
            }
        }
    }
}

