

// Colores
$main: #D65A31;
$azul: #38419D;
$morado: #B292FF;
$rosa: #DB2777;

$blanco: #FBF9FA;
$gris: #6b7280;
$grisOscuro: #211f23e7;
$grisClaro: #f3f4f6;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;