@use 'base';
@use 'navbar';
@use 'hero';

body {
    background-image: url('https://images.unsplash.com/photo-1546825094-66e983c4c7de?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.550);
    background-blend-mode: darken;

    font-family: "REM", sans-serif;

}

